<div id="<%= dom_id location %>" class="card">
  <h3> <%= location.address %> </h3>
  <p>
    <strong>Latitude:</strong>
    <%= location.latitude.round(2) %>
    <strong>Longitude:</strong>
    <%= location.longitude.round(2) %>
  </p>
  <% if current_page?(locations_path) %>
    <%= link_to "Show this location", location %>
  <% end %>
  <% if action_name == 'show' %>
    <%= link_to 'Edit this location', edit_location_path(location) %>
  <% end %>
</div>

