<p style="color: green"><%= notice %></p>

<h1>Locations</h1>

<%= link_to "New location", new_location_path %>

<%= form_tag locations_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Near", :name => nil %>
  </p>
<% end %>

<div id="locations" class="card-container">
  <% @locations.each do |location| %>
    <%= render location %>
  <% end %>
</div>

